<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>


    <link rel="stylesheet" type="text/css" th:href="@{https://theme.hstatic.net/1000030244/1000532904/14/bootstrap.min.css?v=409}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{https://theme.hstatic.net/1000030244/1000532904/14/font-awesome.min.css?v=401}"/>
    <link rel="stylesheet" type="text/css" th:href="@{https://hstatic.net/0/0/global/design/plugins/owlcarousel133/owl.theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{https://theme.hstatic.net/1000030244/1000532904/14/styles.css?v=401}"/>


    <link rel="stylesheet" type="text/css" th:href="@{https://theme.hstatic.net/1000030244/1000532904/14/bootstrap.min.css?v=401}">
    <title>Wellcome</title>
</head>
<body>
<header>
    <style>

    </style>
<div class="header-bottom">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-7">

                    <img class="d-block w-100" src="image/hp.jpg" width="70%" height="70%" alt="Third slide">
            </div>


            <div class="col-md-8" id="col8_header_bottom">
                <p class="company">
                    Hải Sản Hải Phòng
                </p>
                <p class="company"><img src="https://file.hstatic.net/1000030244/file/asset_2_4x_8c58a3c81e8a4941b82cf48216907ccc.png" width="40%" alt=""></p>
            </div>
            <div class="col-md-2">
                <div class="row">
                <a href="/cart" class="cart_link">
                    <img src="//theme.hstatic.net/1000030244/1000532904/14/cart.png?v=383" alt="gio hang">
                    <a class="hotline-link">24h/7ngày</a>
                </a>
                </div>

                <div class="row">
                    <div class="deliver">
                        <a class="cart_link">
                                <img src="//theme.hstatic.net/1000030244/1000532904/14/icon_hotline_top.png?v=383" alt="icon hotline">
                                <a class="hotline-link">ĐặtHàng:0868369827</a>
                        </a>
                    </div>
                </div>
            </div>
    </div>
</div>

</div>
    <div class="main_menu hidden-sm hidden-xs" id="main_nav">
        <div class="container" id="container_header">
        <div class="row">
            <div class="width-20 nopadding-left col-md-3" id="col3">
                <div class id="DHS_megamenu">
                    <div class="title_block">
                        <span>Danh mục</span>
                </div>
                    <div class="block_conten navbar_menuvertical">
                        <ul class="nav navbar-nav nav_verticalmenu" role="navigation">
                            <li class="item-vertical">
                                <a href="#">
                                    <img src="//theme.hstatic.net/1000030244/1000532904/14/icon_megamenu5.png?v=401" alt="cua ghe" title="Cua - Ghẹ ">
                                    <span class="title_menu">Cua - Ghẹ </span>
                                </a>

                            </li>
                            <li class="item-vertical">
                                <a href="#">
                                    <img src="//theme.hstatic.net/1000030244/1000532904/14/icon_megamenu6.png?v=401" alt="tom cac loai" title="Tôm Các Loại ">
                                    <span class="title_menu">Tôm Các Loại </span>
                                </a>

                            </li>
                            <li class="item-vertical">
                                <a href="#">
                                    <img src="//theme.hstatic.net/1000030244/1000532904/14/icon_megamenu4.png?v=401" alt="ngao so oc" title="Ngao, Sò, Ốc">
                                    <span class="title_menu">Ngao, Sò, Ốc</span>
                                </a>

                            </li>
                            <li class="item-vertical">
                                <a href="#">
                                    <img src="//theme.hstatic.net/1000030244/1000532904/14/icon_megamenu7.png?v=401" alt="muc" title="Mực">
                                    <span class="title_menu">Mực</span>
                                </a>

                            </li>
                            <li class="item-vertical">
                                <a href="#">
                                    <img src="//theme.hstatic.net/1000030244/1000532904/14/icon_megamenu8.png?v=401" alt="ca" title="Cá">
                                    <span class="title_menu">Cá</span>
                                </a>

                            </li>
                            <li class="item-vertical">
                                <a href="#">
                                    <img class="image_fresh" src="//theme.hstatic.net/1000030244/1000532904/14/icon_megamenu1.png?v=401" alt="tuoi song moi ngay" title="Tươi sống mỗi ngày">
                                    <span class="title_menu">Loại khác</span>
                                </a>

                            </li>

                        </ul>
                    </div>
            </div>
            </div>
            <style>
                .col-md-9{
                    width: 70,9%;
                            }
                            @media (min-width: 992px)
.col-md-9 {
    width: 70%;
}

            </style>
            <div class="nopadding col-md-9" id="col9">
                <ul class="nav navbar-nav menu_hori">
                <li>
                    <a href="#">
                        <img src="https://file.hstatic.net/1000030244/file/icons-fire-01-resize_cce9e4b58bc0409da2b74ad55315c6fb.png" alt="icon hot" style="width: 20px;display: inline-block;margin-right: 5px;">

                        <span style="display: inline-block;vertical-align: middle;color:#FFF8DC;"> KHUYẾN MÃI HOT</span>
                    </a>
                </li>
                    <li>
                        <a href="#">
                            <span style="display: inline-block;vertical-align: middle;color:#FFF8DC;">HÀNG SIÊU CAO CẤP</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="display: inline-block;vertical-align: middle;color:#FFF8DC;">GIAO HÀNG</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="display: inline-block;vertical-align: middle;color:#FFF8DC;">PHẢN HỒI Ý KIẾN</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="display: inline-block;vertical-align: middle;color:#FFF8DC;">HÀNG BÌNH DÂN </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="display: inline-block;vertical-align: middle;color:#FFF8DC;">CÁCH CHẾ BIẾN </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    </div>
</header>
<div class="wraper container" id="main_product">
    <main>
        <div class="container">
        <div class="row">
            <div class="col-md-9" width="900px">
                <div class="width-70 no-padding col-lg-9 col-md-9 col-sm-9 col-xs-9" id="main_head">
                    <style>body {
                                        padding-top: 0px;
                                                                    }
                           .carousel-indicators {
                                                    bottom:15px;
                                                    left:10px;
                                                    width:auto;
                                                    margin-left:0;
                                                                    }
                            .carousel-indicators li {
                                                    border-radius:0;
                                                    width:8px;
                                                    height:8px;
                                                    background:#fff;
                                                                    }
                            .carousel-indicators .active {
                                                    width:10px;
                                                    height:10px;
                                                    background:#3276b1;
                                                    border-color:#3276b1;

                                                                        }</style>
                        <div id="myCarousel" class="carousel slide">
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                                <li data-target="#myCarousel" data-slide-to="3"></li>
                                <li data-target="#myCarousel" data-slide-to="4"></li>
                            </ol>
                            <div class="carousel-inner" id="carou_inner">
                                <figure class="item active"> <img class="thumbnail" src="image/anhhs.jpg" width="500px" height="500px" alt="Slide1">
                                </figure>
                                <figure class="item"> <img class="thumbnail" src="image/hai-san-cover.jpg" width="500px" height="500px" alt="Slide2">
                                </figure>
                                <figure class="item"> <img class="thumbnail" src="image/muc-tuoi.jpg" width="500px" height="500px" alt="Slide3">
                                </figure>
                                <figure class="item"> <img class="thumbnail" src="image/tomhum.jpg" width="500px" height="500px" alt="Slide4">
                                </figure>
                                <figure class="item"> <img class="thumbnail" src="image/anhhome.jpg" width="500px" height="500px" alt="Slide5">
                                </figure>
                            </div>
                        </div>

                </div>
                </div>
            <div class="col-md-1"></div>
            <div class="col-md-2" id="service">
                <li class="box-service">
                    <a href="">
                        <div class="icon icon-product">
                            <img src="//theme.hstatic.net/1000030244/1000532904/14/icon_1.png?v=411">
                        </div>
                        <div class="description-icon">
												<span class="large-text">
													Sản phẩm an toàn
												</span>
                            <span class="small-text">
													Cam kết chất lượng
												</span>
                        </div>
                    </a>
                </li>
                <li class="box-service">
                    <a href="https://daohaisan.vn/pages/chinh-sach-doi-tra-hang">
                        <div class="icon icon-product">
                            <img src="//theme.hstatic.net/1000030244/1000532904/14/icon_2.png?v=411">
                        </div>
                        <div class="description-icon">
												<span class="large-text">
													Đổi trả hàng, hoàn tiền
												</span>
                            <span class="small-text">
													Rõ ràng, nhanh chóng
												</span>
                        </div>
                    </a>
                </li>
                <li class="box-service">
                    <a href="">
                        <div class="icon icon-product">
                            <img src="//theme.hstatic.net/1000030244/1000532904/14/icon_3.png?v=411">
                        </div>
                        <div class="description-icon">
												<span class="large-text">
													Quy cách gọn gàng
												</span>
                            <span class="small-text">
													Sạch và tiện lợi
												</span>
                        </div>
                    </a>
                </li>
                <li class="box-service">
                    <a href="#">
                        <div class="icon icon-product">
                            <img src="//theme.hstatic.net/1000030244/1000532904/14/icon_4.png?v=411">
                        </div>
                        <div class="description-icon">
												<span class="large-text">
													Miễn phí giao hàng
												</span>
                            <span class="small-text">
													Cho hóa đơn từ 500,000đ <br>( Áp dụng Quận nội thành)
												</span>
                        </div>
                    </a>
                </li>
            </div>
        </div>
        </div>
    </main>

    <main>
        <div class="container" >
        <div class="row">
            <div class="title_page_home">
                <h2>Tôm </h2>
                <div class="clr"></div>
            </div>
            <div class="placeSlide_main">
                <div class="placeSlide_page">
                    <div class="row">
                        <div class="col-md-3">
                        <ul>
                            <a href="#">
                                <li><img alt="Tôm Càng Xanh" src="https://hieuhaisan.com/datafiles/setone/thumb_14805990069236_tom-cang-xanh-hieu-hai-san.jpg"></li>
                                <h2>Tôm Càng Xanh</h2>
                                <h3>Giá: 430,000 đ </h3>
                            </a>
                        </ul>
                        </div>
                        <div class="col-md-3">
                        <ul>
                            <a href="#">
                                <li><img alt="Tôm sú sống" src="https://hieuhaisan.com/datafiles/setone/thumb_14806003839471_tom-su-song-hieu-hai-san.jpg"></li>
                                <h2>Tôm sú sống</h2>
                                <h3>Giá: 500,000 đ </h3>
                            </a>
                        </ul>
                        </div>
                        <div class="col-md-3">
                        <ul>
                            <div class="discount-tag">-8%</div>            <a href="#">
                            <li><img alt="Tôm hùm Alaska sống" src="https://hieuhaisan.com/datafiles/setone/thumb_15752858633867_tom-hum-alaska-tom-hum-canada.jpg"></li>
                            <h2>Tôm hùm Alaska sống</h2>
                            <h3>Giá: 1,200,000 đ <span class="discout">1,300,000 đ</span></h3>
                        </a>
                        </ul>
                        </div>
                        <div class="col-md-3">
                        <ul>
                            <a href="#">
                                <li><img alt="Tôm hùm bông sống" src="https://hieuhaisan.com/datafiles/setone/thumb_14646782869805_tom-hum-bong-hieu-hai-san.jpg"></li>
                                <h2>Tôm hùm bông sống</h2>
                                <h3>Giá: 2,250,000 đ </h3>
                            </a>
                        </ul>
                        </div>
                    </div>
                        <div class="row">
                        <div class="col-md-3">
                        <ul>
                            <a href="#">
                                <li><img alt="Tôm hùm baby" src="https://hieuhaisan.com/datafiles/setone/thumb_15480460693644_tom-hum-baby.jpg"></li>
                                <h2>Tôm hùm baby</h2>
                                <h3>Giá: 1,250,000 đ </h3>
                             </a>
                            </ul>
                        </div>
                        <div class="col-md-3">
                        <ul>
                                <a href="#">
                                    <li><img alt="Tôm hùm bông sống" src="https://hieuhaisan.com/datafiles/setone/thumb_14646782869805_tom-hum-bong-hieu-hai-san.jpg"></li>
                                    <h2>Tôm hùm bông sống</h2>
                                    <h3>Giá: 2,250,000 đ </h3>
                                </a>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul>
                                <a href="#">
                                    <li><img alt="Tôm mũ ni trắng" src="https://hieuhaisan.com/datafiles/setone/thumb_14805992269098_tom-mu-ni-trang.jpg"></li>
                                    <h2>Tôm mũ ni trắng</h2>
                                    <h3>Giá: 750,000 đ </h3>
                                </a>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul>
                                <a href="#">
                                    <li><img alt="Tôm hùm Canada đông lạnh" src="https://hieuhaisan.com/datafiles/setone/thumb_14931947259132_tom-hum-canada-dong-lanh.jpg"></li>
                                    <h2>Tôm hùm Canada đông lạnh</h2>
                                    <h3>Giá: 240,000 đ </h3>
                                </a>
                            </ul>
                        </div>
                    </div>
                    </div>
                </div>


        </div>
    </div>


        <div class="container" id="product">
            <div class="row">
                <div class="title_page_home">
                    <h2>Cá tươi sống</h2>
                    <div class="clr"></div>
                </div>
                <div class="placeSlide_main">
                    <div class="placeSlide_page">
                        <div class="row">
                            <div class="col-md-3">
                                <ul>
                                    <a href="#">
                                        <li><img alt="Cá chim" src="https://hieuhaisan.com/datafiles/setone/thumb_14808359066340_ca-chim-song.jpg"></li>
                                        <h2>Cá chim</h2>
                                        <h3>Giá: 290,000 đ </h3>
                                    </a>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <ul>
                                    <a href="#">
                                        <li><img alt="Cá bớp" src="https://hieuhaisan.com/datafiles/setone/thumb_14732614389288_ca-bop-song-hhs.jpg"></li>
                                        <h2>Cá bớp</h2>
                                        <h3>Giá: 280,000 đ </h3>
                                    </a>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <ul>
                                    <a href="#">
                                        <li><img alt="Cá mặt quỷ" src="https://hieuhaisan.com/datafiles/setone/thumb_14646189894941_ca-mat-quy-hieu-hai-san.jpg"></li>
                                        <h2>Cá mặt quỷ</h2>
                                        <h3>Giá: 950,000 đ </h3>
                                    </a>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <ul>
                                    <a href="#">
                                        <li><img alt="Cá mú nghệ" src="https://hieuhaisan.com/datafiles/setone/thumb_14646191932774_ca-mu-nghe-hieu-hai-san.jpg"></li>
                                        <h2>Cá mú nghệ</h2>
                                        <h3>Giá: 400,000 đ </h3>
                                    </a>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <ul>
                                    <a href="#">
                                        <li><img alt="Cá mú cọp" src="https://hieuhaisan.com/datafiles/setone/thumb_14676929711270_ca-mu-cop-song-hhs.jpg"></li>
                                        <h2>Cá mú cọp</h2>
                                        <h3>Giá: 480,000 đ </h3>
                                    </a>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <ul>
                                    <a href="#">
                                        <li><img alt="Cá mú đen (mú bông)" src="https://hieuhaisan.com/datafiles/setone/thumb_14646252032746_ca-mu-den-hieu-hai-san.jpg"></li>
                                        <h2>Cá mú đen (mú bông)</h2>
                                        <h3>Giá: 400,000 đ </h3>
                                    </a>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <ul>
                                    <a href="#">
                                        <li><img alt="Cá mú xanh" src="https://hieuhaisan.com/datafiles/setone/thumb_14645980076198_ca-mu-xanh-hieu-hai-san.jpg"></li>
                                        <h2>Cá mú xanh</h2>
                                        <h3>Giá: Liên hệ </h3>
                                    </a>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <ul>
                                    <a href="#">
                                        <li><img alt="Cá mú đỏ" src="https://hieuhaisan.com/datafiles/setone/thumb_14645947496318_ca-mu-do-hai-san-tuoi-song.jpg"></li>
                                        <h2>Cá mú đỏ</h2>
                                        <h3>Giá: 1,700,000 đ </h3>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="pay">
            <a href="#" class="btn btn-danger btn-lg" id="newsletter_form_submit">Thanh toán</a>
        </div>

    </main>
</div>
<footer>
    <div class="row" id="footer">
        <div class="col-md-6" id="footer_left">
            <h2>HẢI SẢN HẢI PHÒNG</h2>
            <p><span style="font-size: small;"><strong>Địa chỉ</strong>:&nbsp;Trung tâm thành phố</span></p>
            <p><span style="font-size: small;"><span style="font-size: small; color: #0000ff;"><strong>Điện thoại</strong>:</span>&nbsp;0868369827 -&nbsp;</span></p>
        </div>
        <div class="col-md-3" id="footer_middle">
            <div>
                <h3>Cam kết</h3>
                <ul>

                    <li><a href="#" title="Bào ngư nhập khẩu">

                        Tươi ngon trong ngày            </a>
                    </li>

                    <li><a href="#" title="Cá hồi">

                        Lấy trực tiếp từ cảng            </a>
                    </li>

                    <li><a href="#" title="Tôm hùm - Lobster">

                        Giao hàng nhanh chóng            </a>
                    </li>

                    <li><a href="#" title="Trứng cá">

                        Cam kết chất lượng           </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3" id="footer_right">
            <div>
                <h3>Thông tin chính sách</h3>
                <ul>

                    <li><a href="#" title="Chính sách chung">

                        Chính sách chung            </a>
                    </li>

                    <li><a href="#"  title="Chính sách bảo mật">

                        Chính sách bảo mật            </a>
                    </li>

                    <li><a href="#"  title="Hình Thức Thanh Toán">

                        Hình Thức Thanh Toán            </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script src="js/jquery-1.11.1.min.js"></script>
<script>
$('#myCarousel').carousel({
    interval:   4000
});
</script>
</body>
</html>